@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  

  --bg-color: #060606;
  --text-color:#16ae50;
  --brand-color:#707070;
  --light-color:#ffffff;
  --nav-color:#0e0e0e;
}
/* Add this to your global CSS file */
::selection {
color: var(--light-color) ; /* Background color */
 background-color: var(--text-color); /* Text color */
}

.container
{
  max-width: 1155px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

body{
  background-color: var(--bg-color);
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
}

.logo{
  height: 25px;
  width: 25px;
}